*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

nav{
    height: 90px;
    width: 100%;
    background-color: black;

    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.144)
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}

nav li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

nav ul li .active{
    color: rgb(240, 240, 11);
}

nav img{
    height: 90px;
    width: 150px;
    cursor: none;
    animation: schweben 2s infinite linear;
}

@keyframes schweben {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
}

footer {
    background-color: black;
    color: #fff;
    padding: -1em 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
}
  
.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
  
.footer-column {
    flex: 1 1 auto;
    padding: -1em;
}
  
.footer-column h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    color: rgb(240, 240, 11);;
}
  
.footer-column ul {
    list-style: none;
    padding: 0;
}
  
.footer-column ul li {
    margin-bottom: 1em;
}
  
.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}
  
.footer-column ul li a:hover {
    text-decoration: underline;
}
  
.copyright {
    text-align: center;
    margin-top: 1em;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 90%;
}

@media (max-width: 1038px) {
    nav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    nav.responsive ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav.responsive li {
        margin-top: 10px;
    }

    nav.responsive img {

        width: 80px;
        height: 50px;
    }

    footer.responsive {
        flex-direction: column;
        align-items: center;

    }

    footer.responsive .footer-column {
        flex: 1 0 100%; 
        margin: 10px 0;

    }

    footer.responsive .footer-column h2 {
        text-align: center;

    }
}
